@import "./variables.scss";

.about-us {
  padding-inline: 48px;
  .group1 {
    .services-icons {
      .groupServices {
        img {
          width: 50px;
          height: 50px;
          border-radius: 48px;
          border: 3.5px solid var(--bg-color);
        }
      }
    }
  }
}
