@import './variables.scss';

.about-us {
    // width: 1512px;
    // height: 707px;
    justify-content: space-between;
    padding-top: 88px;
    padding-right: 48px;
    padding-bottom: 88px;

    .group1 {
        .who-r-we {}
    }
}