@import './variables';
$default-width:  171px; 
.contact-primary-btn {
    background-color: $light-primary-btn;
    color: $dark-font-main;
    visibility: visible;
    width: $default-width;
    height: 48px;
    border-radius: 40px;
    gap: 8px;
    padding: 16px;
    align-items: center;
    cursor: pointer;

    .btn-text {
        font-family: din;
        color: $dark-font-main;
        font-weight: 700;
        font-size: 13px;
        line-height: 100%;
    }

    .btn-icon {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light-primary-btn-icon;
        border-radius: 50%;

        img {
            width: 12px;
        }
    }

}