.contact-us {
  width: 100%;
  height: 687px;
  gap: 32px;
  padding-top: 40px;
  padding-right: 48px;
  padding-bottom: 40px;
  padding-left: 48px;
  border-width: 1px;

  .wrapper {
    width: 100%;
    height: 511px;
    gap: 132px;
    padding-right: 72px;
    padding-left: 72px;
    .group1 {
      .shebl-contact-info {
        .feature-card {
          width: 282px;
          height: 56px;
          gap: 8px;
          padding: 16px;
          border-radius: 32px;
          border-width: 1px;
          border: 1px solid var(--Natural-Colors-Natural-Colors-5, #f2f2f2);
          background: var(--Primary-Primary-5, #fcfaf8);
          p {
            font-family: "din";
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
          }
        }
      }
    }
    .group2 {
      width: 570px;
      height: 511px;
    }
  }
}
