.contact-us {
  width: 100%;

  gap: 32px;
  padding-inline: 48px;

  .wrapper {
    width: 100%;
    .group1 {
      .shebl-contact-info {
        .feature-card {
          width: 282px;
          height: 56px;
          gap: 8px;
          padding: 16px;
          border-radius: 32px;
          border-width: 1px;
          border: 1px solid var(--Natural-Colors-Natural-Colors-5, #f2f2f2);
          background: var(--Primary-Primary-5, #fcfaf8);
          p {
            font-family: "din";
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
          }
        }
      }
    }
    .group2 {
      // width: 570px;
      // height: 511px;
    }
  }
}
