.faq {
  padding-inline: 48px;
  padding-block: 80px;
  .container {
    gap: 64px;
    .line {
      width: 100%;
      border-width: 1px;
      border: 1px solid var(--Secondary-Secondary-80, #33495d);
    }
    .question {
      @apply flex gap-4 justify-between text-primaryFont dark:text-darkFont;

      p {
        font-family: "Din";
        line-height: 100%;
        letter-spacing: 0%;
        @apply text-SharedFontSub;
      }
    }
  }
}
