.faq {
  .overlay {
    background: #001c34e6;
  }
  .container {
    // width: 1320;
    min-height: 532px;
    gap: 48px;
    .group2 {
      gap: 32px;
      .line {
        width: 100%;
        border-width: 1px;
        border: 1px solid var(--Secondary-Secondary-80, #33495d);
      }
      .question {
        display: flex;
        justify-content: space-between;
        gap: 16px;
        color: var(--bg-color);
        h4 {
          @apply text-sharedFont;
        }
        p {
          @apply text-SharedFontSub;
          font-family: "Din";
          line-height: 100%;
          letter-spacing: 0%;
        }
      }
    }
  }
}
