.faq {
  padding-top: 80px;
  padding-right: 48px;
  padding-bottom: 80px;
  padding-left: 48px;
  border-radius: 40px;

  .overlay {
    background: #001c34e6;
  }
  .container {
    // width: 1320;
    min-height: 532px;
    gap: 48px;
  }
}
