@import "./variables";

footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  .overlay {
    @apply bg-overlay;
  }
  .foot-container {
    @apply pt-10 pr-20 pb-14 pl-20;

    .footer-shebl {
      .logo {
        @apply w-20 h-24;
        img {
          width: 100%;
        }
      }

      .description {
        p {
          @apply text-SharedFontSub;
        }
      }
    }

    .line {
      width: 100%;
      border-width: 1px;
      border: 1px solid var(--Secondary-Secondary-80, #33495d);
    }

    .footer-links {
      ul {
        li {
          @apply size-14 gap-2 border-2 rounded-full p-4;
          border: 1px solid var(--Secondary-Secondary-90, #1a3348);
        }
      }
    }
  }
}
