@import "./variables";

.hero-section {
  width: 100%;
  height: min(1000px);
  align-items: center;
  // position: static;
  background: linear-gradient(
      180deg,
      rgba(0, 28, 52, 0.9) 6.45%,
      rgba(0, 28, 52, 0.4) 100%
    ),
    url("../../public/assets/images/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .hero-container {
    height: 100%;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;

    .description {
      h1 {
        @apply text-sharedFont;
        font-family: "Ya Modern Pro";
        word-spacing: 2%;
      }

      p {
        font-family: "Din";
        margin-top: 24px;
      }
    }

    .contact {
      margin-top: 36px;
      gap: 16px;

      p {
        @apply text-SharedFontSub;
      }
    }
  }

  .features {
    @apply w-[90%] h-[104px] -bottom-14 absolute justify-between px-4 py-6 rounded-3xl bg-primaryCard dark:bg-darkCard  z-10 flex flex-row items-center overflow-x-auto overflow-y-hidden;
    &::-webkit-scrollbar {
      display: none;
    }

    .feature-card {
      @apply w-[461px] h-14 gap-6 flex border-SharedFontSub items-center;
      border-inline-end: 1px;

      img {
        @apply size-10 bg-primaryIcon dark:bg-darkIcon gap-2 rounded-full p-2;
      }

      div {
        @apply text-SharedFontSub;
      }
    }
  }
}
