@import "./variables";

.hero-section {
  width: 100%;
  height: min(1000px);
  align-items: center;
  position: static;
  background: linear-gradient(
      180deg,
      rgba(0, 28, 52, 0.9) 6.45%,
      rgba(0, 28, 52, 0.4) 100%
    ),
    url("../../public/assets/images/hero-bg.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  .hero-container {
    height: 100%;
    box-sizing: content-box;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 24px;

    .description {
      h1 {
        @apply text-sharedFont;
        font-family: "Ya Modern Pro";
        word-spacing: 2%;
      }

      p {
        font-family: "Din";
        margin-top: 24px;
      }
    }

    .contact {
      margin-top: 36px;
      gap: 16px;

      p {
        @apply text-SharedFontSub;
      }
    }
  }

  .features {
    @apply w-[90%] h-[104px] justify-between px-4 py-6 rounded-3xl bg-primaryBg dark:bg-darkBg overflow-x-hidden;
    // width: 90%;
    // overflow-x: none;
    &::-webkit-scrollbar {
      display: none;
    }

    .feature-card {
      @apply w-[461px] gap-6 flex border-SharedFontSub;
      width: 461px;
      height: 56px;
      gap: 24px;
      display: flex;
      // border-inline-end: 1px $light-font-sub2;
      border-inline-end: 1px;

      img {
        @apply size-10 bg-primaryIcon dark:bg-darkIcon gap-2 rounded-full p-2;
        // background-color: $light-card-icon;
        // width: 40px;
        // height: 40px;
        // gap: 8px;
        // border-radius: 32px;
        // padding: 8px;
      }

      div {
        @apply text-SharedFontSub;
        // color: $light-font-sub1;
      }
    }
  }
}
