@import "./variables";

nav {
  @apply w-full h-[100px] bg-primaryNav/10 dark:bg-black;
  backdrop-filter: blur(28.2px);
  padding: 48px;
  transition: background-color 1s smooth;

  &.on-scroll {
    @apply bg-primaryCard dark:bg-darkCard;
    // background-color: $light-bg-color;
    color: $light-font-sub1;

    .contact-btn {
      background-color: $light-primary-btn;
      color: $light-font-main;
      visibility: visible;
      width: 124px;
      height: 48px;
      border-radius: 40px;
      gap: 8px;
      padding: 16px;
      cursor: pointer;
      align-items: center;

      .btn-text {
        font-family: din;
        color: $dark-font-main;
        font-weight: 700;
        font-size: 13px;
        line-height: 100%;
      }

      .btn-icon {
        width: 20px;
        height: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: $light-primary-btn-icon;
        border-radius: 50%;

        img {
          width: 12px;
        }
      }
    }
    .menublock {
      ul {
        @apply w-full bg-primaryCard/80 dark:bg-darkCard text-MainColor mt-4;
        backdrop-filter: blur(28.2px);
      }
    }

    .logodiv {
      img {
        width: 57px;
        height: 72px;
      }
    }
    .iconsdiv {
      #toggleBtn {
        border-radius: 50%;
        &:active {
          background-color: var(--bg-color);
        }
      }
    }
  }
  .menublock {
    ul {
      @apply w-full bg-primaryNav/90 text-MainColor mt-12;
      backdrop-filter: blur(30px);
    }
  }
}
