@use "./variables" as *;

nav {
  @apply w-full h-[100px] bg-primaryNav/10  text-SharedFontSub p-12;
  -webkit-backdrop-filter:  blur(28.2px);
  backdrop-filter: blur(28.2px);
  transition: background-color 1s smooth;

  &.on-scroll {
    @apply bg-primaryCard dark:bg-darkCard text-primaryFont dark:text-darkFont;
    .contact-btn {
      @apply bg-MainColor text-sharedFont visible w-32 h-12 gap-2 p-4 cursor-pointer items-center;
      border-radius: 40px;
      .btn-text {
        @apply font-[Din] text-sharedFont font-bold text-sm;
        line-height: 100%;
      }

      .btn-icon {
        @apply size-5 flex items-center justify-center bg-sharedFont/20 rounded-full;

        img {
          width: 12px;
        }
      }
    }
    .menublock {
      ul {
        @apply bg-primaryCard/80 dark:bg-darkCard text-MainColor;
         -webkit-backdrop-filter: blur(28.2px);
        backdrop-filter: blur(28.2px);
      }
    }
    .iconsdiv {
      #toggleBtn {
        border-radius: 50%;
        &:active {
          @apply bg-MainColor/30;
        }
      }
    }
  }
  .menublock {
    width: 100%;
    ul {
      @apply w-[93%] ms-0 bg-primaryNav/90 text-MainColor;
      -webkit-backdrop-filter: blur(30px);
      backdrop-filter: blur(30px);
    }
  }
}
