.goalTitle {
  font-family: "amoshref-thulth", sans-serif;
  font-size: 160px;
  line-height: 100%;
  color: var(--primary-btn);
  opacity: 0.5;
  position: absolute;
  top: 60px;
  left: 75px;
  width: 251px;
  height: 191px;
  z-index: -5;
  text-align: right;
}
