.our-goals {
  width: 100%;
  height: 560px;
  gap: 132px;
  padding: 80px 48px;

  .container {
    width: 100%;
    .group1 {
      position: relative;
      background-color: var(--card);
      height: 400px;
      h3 {
        font-family: "amoshref-thulth";
        color: var(--primary-btn);
        font-weight: 400;
        font-size: 160px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;
        position: absolute;
        width: 251px;
        height: 191px;
        top: 60px;
        left: 75px;
        opacity: 0.5;
        z-index: 0;
      }
      img {
        z-index: 5;
      }
    }
    .group2 {
      width: 93%;
      height: 400px;
      gap: 32px;
      border-radius: 24px;
      padding: 32px;
      background-color: var(--card);
      .goals-sec {
        ul {
          list-style: disc;
          height: 88px;
          width: 486.5px;
          gap: 8px;

          li {
            color: var(--font-sub1);
            font-family: "din";
            font-weight: 400;
            font-size: 16px;
            line-height: 100%;
            letter-spacing: 0%;
            // text-align: right;
            padding-top: 12px;
          }
        }
      }
    }
  }
}
