.our-goals {
  width: 100%;
  // height: 560px;s
  // gap: 132px;
  padding-block: 48px;
  display: flex;
  justify-content: center;
  align-content: center;

  .container {
    width: 100%;
    .group1 {
      position: relative;
      background-color: var(--card);
      height: 400px;
      h3 {
        font-family: "amoshref-thulth";
        color: var(--primary-btn);
        font-weight: 400;
        font-size: 160px;
        line-height: 100%;
        letter-spacing: 0%;
        text-align: right;
        width: 251px;
        height: 191px;
        top: 60px;
        left: 75px;
        position: absolute;
        opacity: 0.5;
        z-index: 0;
      }
      img {
        // z-index: 5;
        z-index: 10;
      }
    }
    .group2 {
      // width: 93%;
      min-height: 400px;
      gap: 32px;
      border-radius: 24px;
      padding: 32px;
      background-color: var(--card);
      .goals-sec {
        ul {
          @apply lg:w-full;
          list-style: disc;
          height: 88px;
          // width: 486.5px;
          gap: 8px;

          li {
            @apply text-SharedFontSub;
            color: var(--font-sub1);
            font-family: "Din";
            line-height: 100%;
            letter-spacing: 0%;
            // text-align: right;
            padding-top: 12px;
          }
        }
      }
    }
  }
}
