.our-services {
  padding-inline: 48px;
  padding-block: 20px;
  .card {
    @apply min-h-64 flex flex-col md:gap-10 gap-4 p-8 bg-primaryCard dark:bg-darkCard rounded-3xl;

    .icon {
      @apply size-16 p-3 rounded-full bg-primaryIcon dark:bg-darkIcon;
      background-color: #fff;

      img {
        @apply size-10;
      }
    }
    .service {
      @apply flex flex-col gap-5 lg:w-96;
      h3 {
        @apply font-bold sm:text-2xl text-lg text-primaryFont dark:text-darkFont;
        font-family: "Din";
      }
      p {
        @apply text-SharedFontSub;
        font-family: "Din";
        line-height: 100%;
      }
    }
  }
}
