.values-title {
  @apply text-primaryFont text-xl sm:text-2xl lg:text-3xl font-bold;
  font-family: "Din", sans-serif;
}

.vision-title {
  @apply text-MainColor absolute z-0 left-1/2 transform -translate-x-1/2;
  font-family: "amoshref-thulth", serif;
}

.vision-img {
  box-shadow: 0px 8px 30px 0px #001c3408, 0px -30px 30px 0px #00000008 inset;
}

.floating-dev {
  @apply lg:left-[20%] left-[5%] sm:left-[10%];
  bottom: 60px;
}
