:root {
  --main-color: #111;
  --bg-color: #fff;
  --bg-color: #f2f4f5;
  --card: #fcfaf8;
  --card-icon: #ffffff;
  --font-main: #000000;
  --font-sub1: #666666;
  --font-sub2: #b3b3b3;
  --primary-btn: #cc966a;
  --primary-btn-icon: #ffffff66;
  --secondary-btn: #ffffff24;
  --secondary-btn-icon: #c1987766;
}

.dark {
  --main-color: #fff;
  --bg-color: #111;
  $dark-bg-color: #001c34;
  --card: #1a3348;
  --card-icon: #33495d;
  --font-main: #ffffff;
  --font-sub1: #e5e5e5;
  --font-sub2: #b3b3b3;
  --primary-btn: #c19877;
  --primary-btn-icon: #ffffff66;
  --secondary-btn: #ffffff24;
  --secondary-btn-icon: #c1987766;
}
