@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "Din";
    font-weight: 300;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNEXTLTARABIC-LIGHT-.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 400;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Regular.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 400;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Regular.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 500;

    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Medium.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 600;

    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Heavy.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 700;

    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Bold.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 900;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Black.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "amoshref-thulth";
    src: url("../../public/assets/fonts/arfonts-amoshref-thulth.ttf");
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #193210;
    --foreground: #ededed;
  }
}

body {

  @apply font-[Din] bg-primaryBg dark:bg-darkBg text-sharedFont dark:text-darkFont h-auto min-w-full p-0 m-0;

  &::-webkit-scrollbar {
    display: none;
  }
}
