@tailwind base;
@tailwind components;
@tailwind utilities;
@import '../styles/variables.scss';

:root {
  --background: #ffffff;
  --foreground: #00e30b;
}

$main-color: #F2F4F5;

@layer base {
  @font-face {
    font-family: "Din";
    font-weight: 300;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNEXTLTARABIC-LIGHT-.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 400;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Regular.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 400;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Regular.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 500;

    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Medium.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 600;

    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Heavy.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 700;

    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Bold.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 900;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Black.ttf");
    font-display: swap;
  }



}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #193210;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  background: $light-bg-color;
  color: var(--foreground);
  height: 250vh;
  @apply font-[din];

  &::-webkit-scrollbar {
    display: none;
  }

  .vision {
    color: $main-color;
    //  @apply bg-gray-500 #{!important};
  }
}

@media (screen(sm)) {
  .vision {
    background-color: blue;
  }
}