@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../styles/variables.scss";

:root {
  --main-color: #111;
  --bg-color: #fff;
  // --bg-color: #F2F4F5;
  --card: #fcfaf8;
  --card-icon: #ffffff;
  --font-main: #000000;
  --font-sub1: #666666;
  --font-sub2: #b3b3b3;
  --primary-btn: #cc966a;
  --primary-btn-icon: #ffffff66;
  --secondary-btn: #ffffff24;
  --secondary-btn-icon: #c1987766;
  --secondary-btn-txt: #c19877;
}

.dark {
  --main-color: #fff;
  --bg-color: #111;
  $dark-bg-color: #001c34;
  --card: #1a3348;
  --card-icon: #33495d;
  --font-main: #ffffff;
  --font-sub1: #e5e5e5;
  --font-sub2: #b3b3b3;
  --primary-btn: #c19877;
  --primary-btn-icon: #ffffff66;
  --secondary-btn: #ffffff24;
  --secondary-btn-icon: #c1987766;
}

$main-color: #f2f4f5;

@layer base {
  @font-face {
    font-family: "Din";
    font-weight: 300;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNEXTLTARABIC-LIGHT-.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 400;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Regular.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 400;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Regular.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 500;

    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Medium.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 600;

    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Heavy.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 700;

    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Bold.ttf");
    font-display: swap;
  }

  @font-face {
    font-family: "Din";
    font-weight: 900;
    src: url("../../public/assets/fonts/din/ArbFONTS-DINNextLTArabic-Black.ttf");
    font-display: swap;
  }
  @font-face {
    font-family: "amoshref-thulth";
    src: url("../../public/assets/fonts/arfonts-amoshref-thulth.ttf");
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #193210;
    --foreground: #ededed;
  }
}

body {
  margin: 0;
  padding: 0;
  min-width: 100%;
  height: auto;
  // background: $light-bg-color;
  background-color: #f2f4f5 !important;
  color: var(--foreground);
  // min-height: 200vh;
  @apply font-[din];

  &::-webkit-scrollbar {
    display: none;
  }
}
