$dark-bg-color: #001C34;
$dark-card: #1A3348;
$dark-card-icon: #33495D;
$dark-font-main: #FFFFFF;
$dark-font-sub1: #E5E5E5;
$dark-font-sub2: #B3B3B3;
$dark-primary-btn: #C19877;
$dark-primary-btn-icon: #ffffff66;
$dark-secondary-btn: #FFFFFF24;
$dark-secondary-btn-icon: #c1987766;