$light-bg-color: #F2F4F5;
$light-card: #FCFAF8;
$light-card-icon: #FFFFFF;
$light-font-main: #000000;
$light-font-sub1: #666666;
$light-font-sub2: #B3B3B3;
$light-primary-btn: #CC966A;
$light-primary-btn-icon: #ffffff66;
$light-secondary-btn: #FFFFFF24;
$light-secondary-btn-icon: #c1987766;